@font-face {
    font-family: 'Jesaya';
    font-weight: normal;
    src: url('../fonts/jesaya free.ttf') format('truetype');
}
p.value {font-size:30pt;font-style: normal;font-family: 'Jesaya',sans-serif;color:#969696;}
p.label {font-size:28pt;font-style: normal;font-family: 'Jesaya',sans-serif;color:white;}
